<ActionBar class="action-bar">
    <NavigationButton text="Home" android.systemIcon="ic_menu_back" ios.position="left"></NavigationButton>
    <Label class="action-bar-title" text="Expense"></Label>
</ActionBar>

<ScrollView id="myScroller" #scrollView>

    <StackLayout class="form">

        <Label *ngIf="selectedDate" [text]='"Date Incesfsdurred: " + (selectedDate | date: "dd/MM/yy")' class="h3 m-15 datepicker" textWrap="true"></Label>
        <Button class="btn btn-primary btn-datepicker" text="Select Date Incurred" (tap)="getDate()"></Button>

        <StackLayout>
            <GridLayout rows="auto, auto, *"
                        columns="auto, *">
                <DropDown class="dropdown_options" id="ownership_options" #dd
                          [items]="ownership"
                          hint="Choose"
                          row="0"
                          colSpan="2"></DropDown>
            </GridLayout>
        </StackLayout>


        <Label text="Description"></Label>
        <TextField
        hint="Enter description...">
        </TextField>

        <Label text="Vendor"></Label>
        <TextField 
        hint="Enter vendor...">
        </TextField>


        <Label text="Value"></Label>
        <TextField

                keyboardType="number"

                hint="Enter claim amount..." required number>
        </TextField>

        <Label text="Sales Tax/VAT" ></Label>
        <TextField
                formControlName="salesTax"


                keyboardType="number"
                hint="Sales tax/VAT amount..." number>
        </TextField>






        <Label text="Or Create Report"></Label>
        <TextField 
        hint="New Report">
        </TextField>

        <Label text="Textfield 1"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 2"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 3"></Label>
        <TextField hint="Enter dfsda...">
        </TextField>
        <Label text="Or Create Report"></Label>
        <TextField 
        hint="New Report">
        </TextField>

        <Label text="Textfield 4"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 5"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 6"></Label>
        <TextField hint="Enter dfsda...">
        </TextField>
        <Label text="Or Create Report"></Label>
        <TextField 
        hint="New Report">
        </TextField>

        <Label text="Textfield 7"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 8"></Label>
        <TextField hint="Enter text...">
        </TextField>

        <Label text="Textfield 9"></Label>
        <TextField hint="Enter dfsda...">
        </TextField>

<!--
    Comment
-->


        <Button text="Add Receipt"
                (tap)=onTap()
                class="-outline"></Button>
        <!--
                    <Button *ngIf="journey_reason.valid && claim_vendor.valid && claim_amount.valid && (receiptTaken || galleryProvided)" text="Save Expense Claim" class="btn btn-primary" (tap)="onCreate()"></Button>
        -->
        <Button text="Save Expense Claim" class="btn btn-primary" 
            (tap)=onTap()></Button>



            <Label text="^Top" horizontalAlignment="right"></Label>

    </StackLayout>

</ScrollView>
